<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-category">Workers</li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'car_cards' %}">
            <i class="menu-icon mdi mdi-car-side"></i>
            <span class="menu-title">Cars</span>
          </a>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'reservations' %}">
            <i class="menu-icon mdi mdi-file-document"></i>
            <span class="menu-title">Reservations</span>
          </a>
        </li>
        </li>
      </ul>
    </nav>